@charset 'utf-8';

@import 'components/fonts';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

@import 'components/normalize';
@import 'components/mixins';

// @import 'parts/nav';

.row .row {
    margin-left: 0;
    margin-right: 0;
}

body {
    background-image: url('../img/background-icons.png'), url('../img/background.jpg');
}

.wrapper {
    background-image: url('../img/background-icons.png'), url('../img/background.jpg');
    // background-repeat: repeat-y;
    
    // height: 1000px;
    position: relative;
    z-index: 0;
    overflow: hidden;

    padding: 0 10px;
    @include breakpoint(medium) {
        padding: 0 40px;
    }
}

.page__border-top {
    @include breakpoint(small only) {
        height: 10px;
    }
    height: 40px;
    background: #e7cca0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0px 30px 115px 0 rgba(0,0,0,0.75);
    z-index: 2;
}

.page__border-left, .page__border-right {
    @include breakpoint(small only) {
        width: 10px;
    }
    width: 40px;
    background: #e7cca0;
    position: absolute;
    top: 0;
    height: 100%;
}

.page__border-left {
    left: 0;
}
.page__border-right {
    right: 0;
}
.page__border-separator {
    box-shadow: 0px 0px 100px 5px rgba(0,0,0,0.75);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1400px;
    z-index: -5;
    @include clearfix;
    div {
        height: 40px;
        width: 70px;
        float: left;
        transform: skew(43deg);
        &:nth-child(3n){
            background: #03573d;   
        }
        &:nth-child(3n+1){
            background: #f5e1a3;   
        }
        &:nth-child(3n+2){
            background: #87162a;   
        }
    }
}

section {
    position: relative;
    // overflow: hidden;
    background-image: url('../img/snowflake.png'), url('../img/snowflake3.png'), url('../img/snowflake2.png');
    animation: snow 20s linear infinite;
}

@keyframes snow {
 0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

.steampipes {
    @include breakpoint(small only) {
        display: none;
    }
    div {
        position: absolute;
        z-index: -1;
        @include breakpoint(large) {
            max-width: 12%;
        }

        img {
            &:nth-child(2) {
                width: 39px;
                position: absolute;
                top: 41.9%;
                left: 5.7%;
                animation:spin 4s linear infinite;
            }
        }
    }
}

@keyframes spin { 100% { transform:rotate(360deg); } }

footer {
    background: #e7cca0;
}

.footer-wrapper {
    opacity: .5;
    padding: 20px 0;
        font-size: 30px;
    @include breakpoint(medium) {   
        padding: 20px 40px;
        font-size: 40px;
        line-height: 50px;
    }

    @include breakpoint(large) {
        line-height: 90px;
        font-size: 72px;
    }

    @include breakpoint(xlarge) {
        line-height: 90px;
        font-size: 78px;
    }
    
    color: #a18353;
    
    text-align: center;
    text-transform: uppercase;

    
}

@import 'parts/intro';
@import 'parts/offer';
@import 'parts/gift';
@import 'parts/basket';
