.offer {
    padding: 40px 10px 60px;

    @include breakpoint(medium) {
        padding: 90px 15px 80px;
    }

    @include breakpoint(large) {
        padding: 90px 200px 120px;
    }
    
}

.offer__steampipe {
    img {
        &:nth-child(1){
            top: 40%;
            left: -101px;
            transform: rotate(180deg);

            @include breakpoint(medium) {
                display: none;
            }
            @include breakpoint(large) {
                display: block;
            }
        }

        &:nth-child(2){
            top: 10%;
            right: -101px;

            @include breakpoint(medium) {
                display: none;
            }
            @include breakpoint(large) {
                display: block;
            }
        }
    }
}

.offer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    @include breakpoint(large) {
        justify-content: space-between;
    }
}


.offer__desk {
    
    margin-bottom: 20px;
    @include breakpoint(medium) {
        margin-bottom: 25px;
    }
    @include breakpoint(large) {
        margin-bottom: 55px;

        &:nth-child(odd) {
            margin-right: 15px;
        }
    }
    flex-shrink: 1;
    @include breakpoint(medium) {
        flex-shrink: 0;
    }
    flex-basis: 300px;
    padding: 19px;
    background: #d6bd95;
    border-radius: 5px;
    color: #a62c2c;

    input {
        margin: 0;
    }
}

.offer__desk-img {
    height: 265px;
    width: 100%;
    background: #fff;

    margin-bottom: 15px;
    
}

.offer__desk-price {
    font-size: 26px;
    margin-bottom: 15px;
}

.offer__desk-title {
    font-size: 14px;
    line-height: 16px;
    
    margin-bottom: 20px;
}

.offer__desk-info {
    font-size: 14px;
    line-height: 16px;
    
    color: #3e3e3e;

    margin-bottom: 15px;
}

.offer__desk-quantity {
    @include clearfix;
    font-size: 20px;
    
}

.offer__desk-quantity--text {
    text-transform: uppercase;
    display: inline-block;
    float: left;
}

.offer__desk-input {
    float: right;
    // font-size: 20px;
    font-family: 'opensans-condlight';
    margin-bottom: 15px;
    color: #a62c2c;

    input {
        width: 40px;
        display: inline-block;
        padding: 0;
        height: 30px;
        text-align: center;
        color: #a62c2c;
        margin: 0;
    }
}

.offer__desk-input--plus {
    transform: translateY(2px);
    /* position: absolute; */
    display: inline-block;
    margin-right: 7px;
    cursor: pointer;
}

.offer__desk-input--minus {
    display: inline-block;
    margin-left: 7px;
    cursor: pointer;
}

.submit-button {
    text-transform: uppercase;
    background: #a62c2c;
    display: block;
    color: #fff;
    text-align: center;
    width: 100%;
    font-size: 20px;
    padding: 5px;
    
}